@import './base.css';

body {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h1 {
  font-size: var(--vt-c-text-medium);
  font-weight: bold;
  text-align: center;
}

@media (min-width: 1024px) {
  h1 {
    font-size: var(--vt-c-text-large);
  }
}
